<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
  <% end %> 
  <div id="productResult">
  <h2 id="new_product_name"></h2>
  <h2 id="new_product_price"></h2>
  <h2 id="new_product_description"></h2>
  <h2 id="new_product_inventory"></h2>
</div>
<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
    
      var posting = $.post('/products', values);
      
      posting.done(function(data) {
       
        var product = data;
        $("#new_product_name").text(product["name"]);
        $("#new_product_price").text(product["price"]);
        $("#new_product_description").text(product["description"]);
        $("#new_product_inventory").text(product["inventory"]);
      });
    });
  });
</script>